<div id="cv-wrapper">
	<header id="top-header">
		<section>
			<div id="cv-name">
				<h1>George Diep</h1>
				<p>front end web developer, drupal themer</p>
			</div>
			<div id="cv-contact-section">
				<div id="cv-address">
					2002 Gatewood Pl<br>
					Silver Spring, MD 20903
				</div>
				<div id="cv-contact">
					Email: <a href="ghdiep@gmail.com">ghdiep@gmail.com</a><br>
					Website: <a href="http://georgediep.com">http://georgediep.com</a><br>
					Phone: 240.678.4738
				</div>
			</div>
		</section>
	</header>

	<section class="purpose">
		<h2>Objective: Highly motivated and detail-oriented aspiring web developer seeking a position in Drupal and web development.
		</h2>
	</section>

	<!-- Experience -->
	<section class="row">
		<div class="left">
			<h4 class="left-head"></h4>
			<p><span class="exp-position">&nbsp;</span></p>
			<p><span class="exp-time"></span></p>
		</div>
		<div class="right">
			<h3 class="section-header">Experience</h3>
		</div>
	</section>

	<section class="row">
		<div class="left">
			<h4 class="left-head">Blue Corona</h4>
			<p><span>Gaithersburg, MD</span></p>
			<p><span class="exp-time">August 2011 - August 2014</span></p>
		</div>
		<div class="right">
			<h4 class="block-header">Company Description</h4>
			<p>Help business owners use data and technology to measurably improve their marketing performance and transform the way they think about their business.</p>

			<h4 class="block-header exp-position">Web Developer</h4>

			<ul>
				<li>Developed and maintained over 25 websites using PHP-based CMS' such as Drupal and WordPress</li>
				<li>Utilized JavaScript and various libraries (jQuery) to create interactive and feature-rich websites</li>
				<li>Extensively researched responsive web design, parallax, and bootstrap development</li>
				<li>Created streamlined processes for many web tasks, including the creation of large numbers of pages through various tools combined for automation</li>
			</ul>


			<h4 class="block-header exp-position">Drupal Developer</h4>
			<p>Worked along side and learned in an apprenticeship role with an experienced Drupal developer that exposed me to Drupal basics and concepts. 
				<ul>
					<li>Configured dynamic Views displays</li>
					<li>Created footer blocks based on Views displays to include on client websites</li>
					<li>Themed displays through CSS and jQuery to add interactivity and additional functionality</li>
					<li>Configured various modules and core Drupal functionality to increase clients web presence and SEO rankings</li>
					<li>Mass imported content through Feeds module</li>
				</ul>

				<h4 class="block-header exp-position">Projects</h4>
				<h5><a href="http://www.georgediep.com/csgen/" title="Content Generator" target="_blank">Content Generator/Spinner (PHP)</a></h5>
				<p>Description: Developed to automate the mass creation of content</p>
				<p>Purpose: To dynamically mass create content</p>
				<p>For Drupal: To be used with Feeds module</p>
				<p>For WordPress: To be used with 3rd party plugin, HTML Import 2</p>

				<h5><a href="http://www.georgediep.com/infogatherer.php" title="Mini Crawler" target="_blank">Mini Crawler</a></h5>
				<p>Description: Developed under the guidance of an experienced PHP developer, the Mini Crawler takes a list of URLs and crawls those URLs for various header information</p>
				<p>Purpose: Collect header information data on a list of URLs for the SEO team to use</p>
			</div>
			<div class="clearfix"></div>
		</section>



		<section class="row">
			<div class="left">
				<h4 class="left-head">Antenna Research Associates, Inc.</h4>
				<p><span>Beltsville, MD</span></p>
				<p><span class="exp-time">August 2007 – August 2008</span></p>
			</div>
			<div class="right">
				<h4 class="block-header">Company Description</h4>
				<p>Design, develop, and manufacture antennas and RF Systems for both military and civilian applications. Supplies antennas for Communication Networks, RF Surveillance, RF Jamming, Public Safety Networks, and Civilian markets.</p>

				<h4 class="block-header exp-position">Marketing Assistant</h4>

				<ul>
					<li>Converted legacy files to appropriate PDF files to reduce catalog printing costs</li>
					<li>Developed and maintained catalogs of antennas through various Adobe applications</li>
					<li>Packaged and shipped catalogs to various prospective clients</li>
					<li>Constructed show booths to be displayed in tradeshows</li>
					<li>Brand development and management</li>
					<li>Provided clerical work assistance</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</section>


		<!-- Education -->
		<section class="row">
			<div class="left">
				<h4 class="left-head"></h4>
			</div>
			<div class="right">
				<h3 class="section-header">Education</h3>
			</div>
		</section>

		<section class="row">
			<div class="left">
				<h4 class="left-head">University of Maryland, Baltimore County</h4>
				<p><span>Baltimore, MD</span></p>
				<!--<p><span class="exp-time">2005 - 2010</span></p>-->
			</div>
			<div class="right">
				<p>Bachelor of Science, Information Systems</p>
				<p>Concentration in HCI, UI, UX, web development</p>
				<p>Network administration</p>
				<p>Java programming I, Java programming II</p>
				<p>Database administration</p>
				<p>Web development (HTML, CSS, JavaScript)</p>
			</div>
			<div class="clearfix"></div>
		</section>
<!-- 	<section class="row">
		<div class="left">
			<h4 class="left-head">Springbrook High School</h4>
			<p><span>Silver Spring, MD</span></p>
			<p><span class="exp-time">2001 - 2005</span></p>

		</div>
		<div class="right">
			<p>Maryland High School Diploma</p>
			<p>Computer Maintenance and LAN Management</p>
			<p>Intro to Web development</p>
		</div>
		<div class="clearfix"></div>
	</section> -->



	<!-- Technical Skills -->
	<section class="row">
		<div class="left">
			<h4 class="left-head"></h4>
			<br>
			<br>
			<p>Languages</p>
			<p>Frameworks/Preprocessors/Libraries</p>
			<p>DOM inspectors</p>
			<p>CMS</p>
			<p>IDE/Editors/Other software</p>
			<p>Programs</p>
		</div>
		<div class="right">
			<h3 class="section-header">Technical Skills</h3>
			<p>Fluent HTML, CSS, JavaScript (jQuery), Basic PHP, Basic Ruby</p>
			<p>SASS, Compass</p>
			<p>Firebug, Chrome Developer Tools</p>
			<p>Drupal (6, 7), WordPress, Expression Engine, MODx, Joomla!</p>
			<p>Adobe Dreamweaver, Sublime Text 2, Sublime Text 3, Notepad++, MediaWiki </p>
			<p>FileZilla, WinSCP</p>
		</div>
	</section>

	<section class="row">
		<div class="left">
			<h4 class="left-head"></h4>
		</div>
		<div class="right">
			<h3 class="section-header">Interests</h3>
			<p>Active life: running, weight lifting, basketball, football, soccer, softball, ice skating, hiking, rock climbing</p>
			<p>Mentoring and teaching others about the field of web development</p>
			<p>GameCube, Xbox One</p>

		</div>
		<div class="clearfix"></div>
	</section>
</div> <!-- end wrapper -->